a
{
    color: red;
    text-decoration: none;
}
a:hover
{
    color: white;
    background-color: red;
    text-decoration: underline;
}
a:active
{
    color: orange;
    text-decoration: none;
}
a:visited
{
    color: darkgreen;
}
a:focus
{
    color: blue;
    text-decoration: underline;
}