body {
  margin: 0;
}

main {
  min-height: 100vh;
  max-width: 100vw;
  justify-content: center;
  display: flex;
}

article {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

img {
  margin: 1vw;
  border: 3px solid black;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}